UI_BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://jsonplaceholder.typicode.com
BROWSER=chromium
HEADLESS=true
DEFAULT_TIMEOUT=30000
STANDARD_USER=standard_user
STANDARD_PASSWORD=secret_sauce
